@charset "utf-8";
/* CSS Document */

body
{
	padding: 0;
	border: 0;
	margin: 40px 50px 0px 50px;
	background: #000;
}

*:focus
{
  outline: 0;
}

img
{
	border:0 none;
}

.main
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 500px;
}

.canvasContainer
{
	float: left;
	width: 700px;
	height: 500px;
}

.intro
{
	float: left;
	margin-left: 20px;
	padding: 5px 5px;
	border: 1px solid #2f323e;
	width: 460px;
	height: 488px;
	overflow: auto;
	color: #B2B2B2;
	font-size: 12px;
	font-family: verdana;
	line-height: 130%;
}

h2
{
	color: #ccc;
	font-style: normal;
}

h3
{
	color: #FC6;
	font-style: normal;
}

.code
{
	color: #666;
	font-style: normal;
}

.comment
{
	color: #146D08;
	font-style: italic;
}

#canvas
{
	background-color: #2f323e;
}

#footer
{
	width: 100%;
	height: 50px;
}

#footer-content
{
	width: 960px;
	margin: 20px auto;
	text-align: center;
}

#footer-content span
{
	color: #333;
    font: 12px verdana;
    text-align: center;
}